<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F60DC6C91ED78933009CEDD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F60DC6DD1ED78933009CEDD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F60DC6E81ED78933009CEDD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
